{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    </div>

    <div id="view-email">
        <div id="view-sender">
        </div>
        <div id="view-recipients">
        </div>
        <div id="view-subject">
        </div>
        <div id="view-timestamp">
        </div>
        <div id="email-buttons">
        </div>
        <div class="divider"></div>
        <div id="view-body">
        </div>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <div id="submit-error"></div>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary" value="Send Email" style="margin-top: 15px;"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
